@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Helvetican Eue';
  src: url("@/assets/fonts/helveticaneuebold-webfont.woff2") format("woff2"),
  url("@/assets/fonts/helveticaneuebold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetican Eue';
  src: url("@/assets/fonts/helveticaneuemedium-webfont.woff2") format("woff2"),
  url("@/assets/fonts/helveticaneuemedium-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}