//$yellowy-green: #B9F833;
$yellowy-green: #79C912;
$yellowy-green-light: #c0f849;
$yellowy-green-dark: #b0f61a;
//$apple-green: #79c912;
$apple-green: #E2FC52;
//$apple-green: #01DF05;
//$apple-green-light: #80d514;
//$apple-green-light: #02ea06;
$apple-green-light: #e5ff57;
//$apple-green-dark: #71bc0f;
//$apple-green-dark: #02c305;
$apple-green-dark: #d6ef4d;
$white-smoke: #f5f5f5;
$white-smoke-opacity60: rgba(245, 245, 245, 0.6);
$white-smoke-opacity3: rgba(245, 245, 245, 0.03);
$dark-jungle-green: #222222;
$dark-jungle-green-opacity: rgba(34, 34, 34, 0.8);
$dark-jungle-green-opacity50: rgba(34, 34, 34, 0.5);
$dark-jungle-green-opacity20: rgba(34, 34, 34, 0.2);
$dark-jungle-green-opacity10: rgba(34, 34, 34, 0.1);
$dark-jungle-green-dark: #1b1b1b;
$ghost: #CBCBCB;
$boulder: #767676;
$oslo-grey: #8B8B8B;
$porcelain: #EDF1F3;

//$header-height: 64px;
$header-offset: 60px;
$header-offset-992px: 45px;
$header-offset-768px: 30px;
$header-offset-480px: 15px;
$container-width: 1240px;
$container-offset: 100px;
$container-offset-992px: 75px;
$container-offset-768px: 40px;
$container-offset-480px: 20px;
$section-offset: 60px;
$section-offset-small: 30px;
$section-offset-992px: 50px;
$section-offset-768px: 35px;
$section-offset-480px: 25px;

$font-size-big: clamp(1.5rem, 1.087vw + 1.283rem, 2.125rem);
$font-size: clamp(1rem, 0.217vw + 0.957rem, 1.125rem);
$font-size-small: 12px;

$border-radius-btn: 50rem;
$border-radius-smallest: 6px;
$border-radius-smaller: 8px;
$border-radius-small: 10px;
$border-radius-large: 40px;
