$yellowy-green: #B9F833;
$alien-green: #79C912;
$white-smoke: #f5f5f5;
$dark-jungle-green: #222222;
$dark-jungle-green-opacity: rgba(34, 34, 34, 0.8);
$ghost: #CBCBCB;
$boulder: #767676;
$oslo-grey: #8B8B8B;
$porcelain: #EDF1F3;

$header-height: 64px;
$header-offset: 60px;
$container-width: 1240px;
$container-offset: 100px;
$section-offset: 60px;

$font-size-big: 36px;
$font-size: 18px;
$font-size-small: 12px;
