*{
  margin: 0;
  padding: 0;
}
*,
*::before, *::after {
  box-sizing: border-box;
}
html, body{
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  color: $dark-jungle-green-opacity;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $font-size;
  font-weight: 400;
  line-height: 1.2;
  background-color: $white-smoke;
}
#app{
  height: 100%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.container{
  padding: 0 $container-offset;
  max-width: calc($container-width + ($container-offset * 2));
  margin: 0 auto;
  overflow: hidden;
}
main{
  flex-grow: 1;
}
.section{
  padding-top: $section-offset;
  padding-bottom: $section-offset;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
.logo{
  user-select: none;
}
ul{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
@media (max-width: 991.99px) {
  .container{
    padding: 0 $container-offset-992px;
    max-width: calc($container-width + ($container-offset-992px * 2));
  }
  .section{
    padding-top: $section-offset-992px;
    padding-bottom: $section-offset-992px;
  }
}
@media (max-width: 767.99px) {
  .container{
    padding: 0 $container-offset-768px;
    max-width: calc($container-width + ($container-offset-768px * 2));
  }
  .section{
    padding-top: $section-offset-768px;
    padding-bottom: $section-offset-768px;
  }
}
@media (max-width: 479.99px) {
  .container{
    padding: 0 $container-offset-480px;
    max-width: calc($container-width + ($container-offset-480px * 2));
  }
  .section{
    padding-top: $section-offset-480px;
    padding-bottom: $section-offset-480px;
  }
}